
<% include ../partials/header %>

<div class="d-flex flex-nowrap">
  <h2 class="d-flex flex-fill"><%= list.name %></h2>
  <a class="d-flex justify-flex-end btn btn-secondary btn-sm edit-button" href="/lists/<%= list._id %>/edit"><i class="far fa-edit"></i></a>
  <form action="/lists/<%= list._id %>?_method=DELETE" method="POST">
    <button class="d-flex justify-flex-end btn btn-dark btn-sm delete-button" type="Submit">
      <i class="fas fa-trash-alt"></i>
    </button>
  </form>
</div>

<h6 class="d-flex list-description"><%= list.description %></h6>

<hr>

<div id="item-new-form">
<!--<form id="item-form" action="/lists/<%= list._id %>/items" method="POST">-->
  <input id="item-new-text" class="form-control input-add-item" type="text" name="item[text]" placeholder="Add a new item" autofocus>
  <input type="hidden" name="item[completed]" value="false">
  <button class="btn btn-info btn-sm">
    <i class="fas fa-plus"></i>
  </button>
</div>

<ul id="<%= list._id %>" class="list-list list-group">
  <% list.items.forEach(function(item) { %>
    <li id="<%= item._id %>" class="d-flex flex-nowrap list-item list-group-item">
      <input class="d-flex list-item-checkbox" type="checkbox" value=""<% if (item.completed) { %> checked<% } %>>
      <span class="d-flex flex-fill list-item-text"><%= item.text %></span>
      <button class="d-flex justify-flex-end edit-button btn btn-outline-dark btn-sm">
        <i class="far fa-edit"></i>
      </button>
      <div class="d-flex justify-flex-end">
        <button class="btn btn-sm btn-danger delete-button">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </li>
  <% }); %>
</ul>

<script type="text/javascript" src="/assets/js/lists/list-animator.js" async></script>

<% include ../partials/footer %>
